doctype 5
html
	head
		title #{title}
		link(rel='stylesheet', type='text/css', href='css/static.css')
		link(href='http://fonts.googleapis.com/css?family=Press+Start+2P', rel='stylesheet', type='text/css')
		link(rel='icon', href='/favicon.ico', type='image/x-icon')
		link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
		script(src="js/static.js", type="text/javascript", charset="utf-8")
		- var html = '<script style="text/javascript">var _gaq=_gaq||[];_gaq.push(["_setAccount","UA-35454107-1"]);_gaq.push(["_trackPageview"]);(function(){var b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a)})();</script>'
		!{html}

	body(id="#{slug}")

		block content