doctype 5
html(lang="en")
	head
		title Hot Air
		meta(name="csrf-token", content=token)
		link(rel='stylesheet', type='text/css', href='css/style.css')
		link(href='http://fonts.googleapis.com/css?family=Press+Start+2P', rel='stylesheet', type='text/css')
	body(id="home")
		// js librariess
		- var libs = ['jquery-min', 'crafty', 'underscore-min', 'screenfull.min'];
		- for (var i=0;i<libs.length;i++)
			script(src="js/lib/#{libs[i]}.js", type="text/javascript", charset="utf-8")

		// modules
		- var scn = ['HA', 'HA.game', 'HA.enemyController', 'HA.mediator', 'HA.player', 'HA.sceneManager', 'HA.twitter', 'HA.events'];
		- for (var i=0;i<scn.length;i++)
			script(src="js/modules/#{scn[i]}.js", type="text/javascript", charset="utf-8")

		// game extensions
		- var ext = ['twitter-extension', 'start-screen-module', 'list-nav-module', 'enemy-controller-extension'];
		- for (var i=0;i<ext.length;i++)
			script(src="js/crafty-extensions/#{ext[i]}.js", type="text/javascript", charset="utf-8")

		// game components
		- var com = ['html-template', 'oscillate', 'start-screen-main-graphic', 'start-screen-balloon', 'spriteText', 'hit-score', 'pause-display', 'gameover-display', 'lives', 'lives-display', 'levels', 'level-display', 'score', 'score-display', 'party', 'dart', 'player', 'tweet-person', 'tweet-person-info', 'enemy', 'cloud', 'tweet', 'tweet-display', 'list-nav', 'message-display', 'enemy-selection', 'enemy-selection-arrow'];
		- for (var i=0;i<com.length;i++)
			script(src="js/components/#{com[i]}.js", type="text/javascript", charset="utf-8")

		// game scenes
		- var scn = ['loading-scene', 'start-screen-scene', 'game-over-scene', 'gameplay-scene'];
		- for (var i=0;i<scn.length;i++)
			script(src="js/scenes/#{scn[i]}.js", type="text/javascript", charset="utf-8")

		// sprites
		script(src="js/sprites/sprites.js", type="text/javascript", charset="utf-8")

		// test data
		script(src="js/data/load_tweets.js", type="text/javascript", charset="utf-8")

		// main js
		script(src="js/main.js", type="text/javascript", charset="utf-8")

		.start-wrap
		
			// Instructions Display
			#InstructionsDisplay.modal
				h1 Instructions
				.modal-inner
					p Your player is at the top.  Hot air balloons ascend from the bottom, each associated with a tweet.  It is your job to determine which tweets are associated with your team, and which are on the opposite team!
					p Select balloons using the up and down arrows.  Move your player using the left and right arrows.  Shoot using the space bar (or letter 'a' key).  Pause by pressing Enter.
					p Have fun!
					
			#AboutDisplay.modal
				h1 About
				.modal-inner
					p Hot Air uses live twitter data from the @tweetcongress lists "republican" and "democrats".  
					p The Notion Collective is a 4.5-person art-making group based in Brooklyn, NY.
					
			#HighScoresDisplay.modal
				h1 High Scores!
				.modal-inner
					| loading...
						
			// HIGH SCORES TEMPLATE
			script(id='HighScoresTemplate',type='text/template')
				| <div id="HighScores">
				|		<ul>
				|		<% _.each(highscores, function(highscore) { %>
				|			<li><%= highscore.score %> - <%= highscore.user %> (<%= highscore.party.toUpperCase() %>)
				|		<% }); %>
				|		</ul>
				| </div>

			// TWEET DISPLAY TEMPLATE
			script(id='TweetDisplayTemplate',type='text/template')
				| <div id="TweetDisplay">
				|		<div class='content'><%= text %></div>
				| </div>

			// PAUSE DISPLAY TEMPLATE
			script(id='PauseDisplayTemplate',type='text/template')
				| <div id="PauseDisplay">
				|		<h1>Paused</h1>
				|	</div>
				
			// GAMEOVER DISPLAY TEMPLATE
			script(id='GameOverDisplayTemplate',type='text/template')
				| <div id="GameOverDisplay">
				|		<h1>Game Over</h1>
				|	</div>


			// HIGHSCORE FORM
			script(id='HighScoreForm',type='text/template')
			
			//  #HighScoreForm
			//  	h1 Game Over
			//  	#NewHighscore
			//  		h3 New High Score!
			//  		label Enter your initials:
			//  			input#gameover-name(type="text") test
			//  		a#SaveHighscore(href="#done") Done
			//  	#GameOverOptions
			//  		ul.list-inline
			//  			li
			//  				a#gameover-start(href="#gameover-start") Start Screen
			//  			li
			//  				a#gameover-again(href="#gameover-again") Play Again
							
			// FULL SCREEN
			#FullScreenPrompt
				.prompt Press Esc for Fullscreen Mode
