extends layout

block content
	#Main
		- var scoretxt = data.highscore ? "high score" : "score"
		- var date = new Date(data.timestamp)
		h1 <i class="#{data.party}"></i><span class="user #{data.party}">#{data.user}</span> &mdash; <span class="date">#{date.toDateString()}</span>
		.score #{data.score}			
		p <span class="user">#{data.user}</span> got this #{scoretxt} playing <a href="/"><strong>Hot Air</strong></a> on <span class="date">#{date.toDateString()}</span> at <span class="time">#{date.toTimeString()}</span>
		ul#actions.cf
			li: a(href="#{twitter_url}", id="share_twitter", target="_blank") Share on Twitter 
			li: a(href="#{facebook_url}", id="share_facebook", target="_blank") Share on Facebook
			li: a(href="/play", id="play") Play Hot Air!

	